*.dylib filter=lfs diff=lfs merge=lfs -text
ArtifactDB filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/PackageCache/com.unity.burst@973857688024/.Runtime/burst-llvm-19-arm64.dll filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/PackageCache/com.unity.burst@973857688024/.Runtime/burst-llvm-19.dll filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/PackageCache/com.unity.burst@973857688024/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/PackageCache/com.unity.burst@973857688024/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/PackageCache/com.unity.burst@973857688024/.Runtime/libburst-llvm-19.dylib filter=lfs diff=lfs merge=lfs -text
/XR[[:space:]]Systems/Library/PackageCache/com.unity.burst@973857688024/.Runtime/libburst-llvm-19.so filter=lfs diff=lfs merge=lfs -text
*.dll !text !filter !merge !diff
